
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
}


header {
  background-color: #2c3e50;
  color: #ffffff;
  padding: 1rem;
}


nav {
  background-color: #34495e;
  color: #ffffff;
  padding: 0.5rem;
}


nav a {
  color: #ffffff;
  text-decoration: none;
}


main {
  background-color: #ffffff;
  font-size: 1rem;
  padding: 1rem;
}


footer {
  background-color: #2c3e50;
  color: #ffffff;
  padding: 1rem;
}


li {
  display: inline-block;
  width: 150px;
}


h1 {
  text-align: center;
  font-family: Georgia, "Times New Roman", serif;
  color: #ffffff;
}


p {
  line-height: 1.6;
}
